# Import Data Set

In [1]:
import pandas as pd
data = pd.read_csv("C:/Users/HP/Desktop/DataScience_and_Python/DataScience_With_Python/NewspaperData.csv")
data.head()

            Newspaper    daily   sunday
0       Baltimore Sun  391.952  488.506
1        Boston Globe  516.981  798.298
2       Boston Herald  355.628  235.084
3  Charlotte Observer  238.555  299.451
4   Chicago Sun Times  537.780  559.093

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Newspaper  34 non-null     object
 1   daily      34 non-null     float64
 2   sunday     34 non-null     float64
dtypes: float64(2), object(1)
memory usage: 944.0+ bytes

# Correlation

In [3]:
data.corr()

           daily    sunday
daily   1.000000  0.958154
sunday  0.958154  1.000000

In [ ]:
import seaborn as sns
sns.distplot(data['daily'])

In [ ]:
import seaborn as sns
sns.distplot(data['sunday'])

Fitting a Linear Regression Model

In [ ]:
import statsmodels.formula.api as smf
model = smf.ols("sunday~daily",data = data).fit()

In [ ]:
sns.regplot(x="daily", y="sunday", data=data);

In [ ]:
#Coefficients
model.params

In [ ]:
#t and p-Values
print(model.tvalues, '\n', model.pvalues)

In [ ]:
#R squared values
(model.rsquared,model.rsquared_adj)

# Predict for new data point

In [ ]:
#Predict for 200 and 300 daily circulation
newdata=pd.Series([200,300])

In [ ]:
data_pred=pd.DataFrame(newdata,columns=['daily'])

In [ ]:
model.predict(data_pred)